name: schulte-development.de | Build, deploy to GitHubPage on main

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  # having "changes" job instead of GitHub action paths filtering for being used as pull request check
  changes:
    runs-on: ubuntu-latest
    if: github.event_name != 'workflow_dispatch'
    outputs:
      website: ${{ steps.filter.outputs.website }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            website:
              - '.github/workflows/schulte-development-de_build-deploy.yml'
              - 'schulte-development_de/**'
              - '!schulte-development_de/docker-compose.yml'
              - '!schulte-development_de/Dockerfile'
              - '!schulte-development_de/Makefile'

  build_professional_homepage:
    runs-on: ubuntu-latest
    needs: changes
    if: always() && (github.event_name == 'workflow_dispatch' || needs.changes.outputs.website == 'true')
    defaults:
      run:
        working-directory: ./schulte-development_de
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true
          working-directory: ./schulte-development_de
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Validate Jekyll configuration
        run: bundle exec jekyll doctor
      - name: Build with Jekyll
        run: bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
        env:
          JEKYLL_ENV: production
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./schulte-development_de/_site

  deploy_professional_homepage:
    runs-on: ubuntu-latest
    needs: build_professional_homepage
    if: github.ref_name == 'main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
